@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f2f2f2; /* Light grey shadow-like background */
  --text-color: #333; /* Dark text color */
  --primary-color: var(--secondary-gradient); /* Updated primary color */
  --secondary-color: #F8F1F1;
  --tertiary-color: #FFA62B;
  --accent-color: #D90429;

  --primary-gradient: linear-gradient(135deg, #F72585, #B5179E);
  --secondary-gradient: linear-gradient(135deg, #414141, #000000);
  --tertiary-gradient: linear-gradient(135deg, #FFD700, #FF5733);
  --accent-gradient: linear-gradient(135deg, #61C0BF, #313D5A);
  --transparent-bg-color: rgba(234, 231, 231, 0.9);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.floating-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--secondary-gradient); /* Use your preferred gradient */
  opacity: 0.7; /* Adjust the opacity for translucency */
  z-index: -1; /* Behind the content */
}

/* Update background colors using the new palette */
.black-gradient {
  background: var(--background-color); /* Use primary background color */
}

.violet-gradient {
  background: var(--secondary-color); /* Use secondary background color */
}

/* You can continue to update other background colors as needed */

.green-pink-gradient {
  background: var(--accent-gradient); /* Use accent gradient */
}

/* Define new animations or styles as needed */

/* Update the styles for the div using the new color palette */
.transparent-bg {
  background: var(--transparent-bg-color);
  opacity: 0.7;
}

/* Adjust the text color using the new color palette */
.text-color {
  color: var(--text-color);
}

.text-tertiary {
  color: var(--tertiary-color);
}

/* Style for rounded elements with the new color palette */
.rounded-bg {
  background: var(--transparent-bg-color);
}

/* You can add more styles as needed */

/* Update other styles or animations if required */
